<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gripper" params="parent_link">

    <!-- Gripper link -->
    <link name="gripper_base_link">
      <visual>
        <geometry>
          <box size="0.075 0.075 0.18"/> <!-- Dimensioni generiche del gripper -->
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.075 0.075 0.18"/> <!-- Geometria di collisione uguale a quella visiva -->
        </geometry>
      </collision>
    </link>

    <!-- Joint collegando il gripper al link parent (wrist_3_link) -->
    <!-- L'origine xyz="0 0 0" rpy="0 0 0" posiziona il gripper rispetto al parent link. -->
    <joint name="${parent_link}_gripper_joint" type="fixed">
      <origin xyz="0 0 0.09" rpy="0 0 1.5708"/>
      <parent link="${parent_link}"/>
      <child link="gripper_base_link"/>
    </joint>

  </xacro:macro>

</robot>