<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3_gripper_endoscope">

  <!-- Include modello base UR3: assicurati che il file base sia accessibile -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.xacro"/>
  <!-- Includi macro gripper -->
  <xacro:include filename="$(find my_ur3_setup)/urdf/grippers/rg2_gripper.xacro"/>
  <!-- Includi macro endoscopio -->
  <xacro:include filename="$(find my_ur3_setup)/urdf/grippers/endoscope_attachment.xacro"/>

  <!-- Crea il gripper attaccato a tool0 -->
  <xacro:rg2_gripper prefix="gripper_" parent="tool0"/>
  <!-- Crea l'endoscopio/camera attaccato al gripper -->
  <xacro:endoscope_camera prefix="endo_" parent="gripper_gripper_base"/>
</robot>