<launch>
  <!-- Lancia Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Carica la descrizione del robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find my_ur3_setup)/urdf/ur3_gripper_endoscope.xacro"/>

  <!-- Spawna il robot in origine -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model ur3_gripper_endo -x 0 -y 0 -z 0"/>

</launch>